body {
  /* background-color: #dddddd; */
  /* background-color: blue; */
}

header {
  /* background-color: aqua; */
  border-bottom: 2px black solid;
  display: flex;
  height: 50px;
  padding-bottom: 5px;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 8px;
  /* max-width: 40%; */
}

label {
  padding-top: 10px;
  padding-bottom: 2px;
}

select {
  background-color: rgb(255, 196, 0);
  font-size: 1rem;
  min-height: 35px;
}

button {
  margin-top: 10px;
  padding: 5px 0;
}

.output-section {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr;  */
  grid-template-columns: 1fr; 
  justify-items: center;
  /* align-items: center; */
  padding: 10px 0;
}

.output-section-movie img {
  border-radius: 4px;
  box-shadow: 2px 5px 15px 1px rgba(0, 0, 0, 0.68);
  margin: 5px 0;
  transition: 1s ease;
}

.output-section-movie img:hover {
  cursor: pointer;
  transform: scale(1.025);
  transition: 1s ease;
}

.detailed-view-section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px 10px;
}

footer {
  border-top: 2px black solid;
  padding-top: 10px;
  display: grid;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
}